[submodule "_tools.core/bamweb"]
	path = _tools/bamweb
	url = git@github.com:BryanApellanes/bamweb.git
[submodule ".bam/build"]
	path = .bam/build
	url = git@github.com:BryanApellanes/build.git
[submodule ".bam/docker"]
	path = .bam/docker
	url = git@github.com:BryanApellanes/docker.git
[submodule "_tools/bamapi"]
	path = _tools/bamapi
	url = git@github.com:BryanApellanes/bamapi.git
[submodule "_tools/bake"]
	path = _tools/bake
	url = git@github.com:BryanApellanes/bake.git
[submodule "_tools/bamdb"]
	path = _tools/bamdb
	url = git@github.com:BryanApellanes/bamdb.git
[submodule "shared/bam.net.shared"]
	path = shared/bam.net.shared
	url = git@github.com:BryanApellanes/bam.net.shared.git
[submodule "_tools/bamd"]
	path = _tools/bamd
	url = git@github.com:BryanApellanes/bamd.git
[submodule "_lib/bam.net.data.dynamic"]
	path = _lib/bam.net.data.dynamic
	url = git@github.com:BryanApellanes/Bam.Net.Data.Dynamic.git
[submodule "bamweb"]
	url = git@github.com:BryanApellanes/bamweb.git
[submodule "_lib/bam.net.oidc"]
	path = _lib/bam.net.oidc
	url = git@github.com:BryanApellanes/Bam.Net.Oidc.git
