[submodule "_tools.core/bamweb"]
	path = _tools/bamweb
	url = https://github.com/BryanApellanes/bamweb.git
[submodule ".bam/build"]
	path = .bam/build
	url = git@github.com:BryanApellanes/build.git
[submodule ".bam/docker"]
	path = .bam/docker
	url = git@github.com:BryanApellanes/docker.git
[submodule "_tools/bamsdo"]
	path = _tools/bamsdo
	url = git@github.com:BryanApellanes/bamsdo.git
